body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #24241e;
    font-family: "Lexend Exa", sans-serif;
    font-weight: 200;
    color: #f1f1f1;
    font-size: 1.5vw;
    list-style: none;
    list-style-type: none;
}

header {
    padding: 0 3%;
    gap: 48%;
    position: absolute;
    display: flex;
    width: 90%;
    position: fixed;
}
div{
    width: 100%;
    height: 90%;
    display: flex;
}
nav{
    width: 100%;
}
ul{
    gap: 10%;
    width: 100%;
}

li{
    list-style: none;
    list-style-type: none;
    width: 100%;
}

h3{
    font-weight: 250;
    font-size: 2vw;
}

.header-list{
    display: flex;
    align-self: flex-end;
}

.full-screen {
    width: 100%;
}
#logo {
    width: 10%;
}
#text{
    width: fit-content;
    position: absolute;
    align-self: flex-end;
    display: block;
    height: fit-content;
    gap: 10%;
    padding: 6% 3%;
    font-size: 2vw;
}
.first{
    margin: 0;
    padding: 1% 0;
}
.sobre{
    width: 100vw;
    height: 100vh;
    gap: 12%;
    align-items: center;
    justify-content: center;
}
.image{
    height: 60%;
}
#sellers{
    background-color: #475B0D;
}
.description{
    flex-direction: column;
    width: 35%;
    height: fit-content;
}